* {
  box-sizing: border-box; }

table {
  width: 96vw; }
  table, th, td {
    border: 1px solid #EEE;
    border-collapse: collapse;
    text-align: center;
    padding: 16px; }

thead {
  background: #EEE; }

th, td {
  width: 20%; }

.table_container {
  height: 96vh;
  overflow-y: auto;
  overflow-x: hidden; }

.table_head {
  position: sticky;
  top: 0; }

@media only screen and (max-width: 480px) {
  table {
    border: none; }
  tr {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    border: 1px solid #EEE; }
    tr *:not(:last-child) {
      border-bottom: 1px solid #EEE; }
  th, td {
    width: 50%;
    border: none;
    padding: 10px; } }
