* {
  box-sizing: border-box; }

table {
  width: 100%; }
  table, th, td {
    border: 1px solid #EEE;
    border-collapse: collapse;
    text-align: center;
    padding: 16px; }
  table thead {
    background: #EEE; }

@media only screen and (max-device-width: 480px) {
  thead {
    display: none; }
  table {
    border: none; }
  .thead_row {
    background: #EEE;
    margin-top: 5px; }
  tr {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid #EEE;
    height: 120px; }
    tr *:not(:nth-child(3)) {
      border-bottom: 1px solid #EEE; }
  th, td {
    border: none;
    padding: 8px; } }
