* {
  box-sizing: border-box; }

table {
  width: 100%; }
  table, th, td {
    border: 1px solid #EEE;
    border-collapse: collapse;
    text-align: center;
    padding: 16px; }
  table thead {
    background: #EEE; }

@media only screen and (max-width: 480px) {
  thead {
    display: none; }
  table {
    border: none; }
  tr {
    display: flex;
    flex-direction: column;
    border: 1px solid #EEE; }
    tr + tr {
      margin-top: 5px; }
    tr *:not(:last-child) {
      border-bottom: 1px solid #EEE; }
  td {
    display: flex;
    border: none; }
    td:before {
      text-align: left;
      min-width: 36%; }
    td:nth-child(1)::before {
      content: "test1"; }
    td:nth-child(2)::before {
      content: "test2"; }
    td:nth-child(3)::before {
      content: "test3"; }
    td:nth-child(4)::before {
      content: "test4"; }
    td:nth-child(5)::before {
      content: "test5"; } }
