$main-color: #EEE;

* {
  box-sizing: border-box;
}

table {
  width: 100%;

  @at-root &, th, td {
    border: 1px solid $main-color;
    border-collapse: collapse;
    text-align: center;
    padding: 16px;
  }

  thead {
    background: $main-color;
  }
}

@media only screen 
and (max-width : 480px) {
table {
  border: none;
}
tr {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 120px;
  margin-top: 5px;
  border: 1px solid $main-color;

  *:not(:nth-child(3)) {
    border-bottom: 1px solid $main-color;
  }
}

  th, td {
    width: 50%;
    border: none;
    padding: 8px;
  }
}