$main-color: #EEE;

* {
  box-sizing: border-box;
}

table {
  width: 100%;

  @at-root &, th, td {
    border: 1px solid $main-color;
    border-collapse: collapse;
    text-align: center;
    padding: 16px;
  }

  thead {
    background: $main-color;
  }
}

@media only screen 
and (max-device-width : 480px) {
  thead {
    display: none;
  }

  table {
    border: none;
  }

  .thead_row{
    background: $main-color;
    margin-top: 5px;
  }

  tr {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid $main-color;
    height: 120px;

    *:not(:nth-child(3)) {
      border-bottom: 1px solid $main-color;
    }
  }

  th, td {
    border: none;
    padding: 8px;
  }
}